body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: 'header'
                         'cards';
}

header {
    display: flex;
    align-items: center;
    background-color: #8ecae6;
    box-shadow: 1px 1px 8px #333;
    grid-area: header;
}

header > *, .card > * {
    margin-left: 1rem;
}


.cards {
    position: relative;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, 16rem);
    grid-template-rows: repeat(auto-fit, 1fr);
    background-color: #219ebc;
    grid-area: cards;
}

.card > h1 {
    margin: auto;
}

.card {
    margin: 1rem 0.5rem 0;
    color: #8ecae6;
    display: grid;
    grid-template-rows: 3rem 2rem 2rem;
    width: 14rem;
    height: 20rem;
    border: 0.25rem solid #023047;
    border-radius: 2rem;
    background-color: #023047;
}